<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>OSP Cloud</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="css/styles2.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
    <style>
        #main{
            display:grid;
            grid-template-columns: 200px 1fr;
        }
	    .profile{
            border-right:1px solid black;
            width:150px;
            margin:0;
            padding:20px;
        }
        .content_container{
            padding:20px;
        }
        h6{
            margin:0px;
            padding:0;
        }
    </style>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="page-header">
            <h1><a href="{% url 'main' %}">
                <center>OSP Cloud</center>
            </a></h1>
            <a href="{% url 'google_login' %}"><center>
                <button type="submit" class="save btn btn-primary">구글 로그인</button>
            </center></a>
        </div>
    {% else %}
        <div class = 'page-header'>
            <h1><a href="{% url 'main' %}">OSP Cloud</a></h1>
                <a href="{% url 'upload' %}" class="top-menu" >
                    <span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <hr>
        <div id  = "main">
            <div class = "profile">
                <img src="my_profile.png" width="150" height="150">
                    <h5> {{ user.username }} </h5>
                    <h6> {{ user.usermail }} </h6>
                <h5><center><a href="{% url 'user_edit' %}">회원정보수정</a>&nbsp;&nbsp;
                    <a href="{% url 'logout' %}">로그아웃</a></center></h5>
            </div>
            <div class="content_container">
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
</body>

</html>